.dropdown  {
    position: relative;
  }
  
  .dropdown-menu {
    position: absolute;
    display: block;
    align-self: center;
    width: 25%;
    opacity: 0;
    margin: -.05rem 0 0 5%; 
    padding: 0.05rem;
    list-style-type: none;
    background-color: #fff;
    border-radius: 4px;
    transition: .2s all ease-in;
  }
  

  
  .dropdown-menu li + li {
    border-top: 1px solid #e1e1e1;
    padding-top: .5rem;
  }
  
  .dropdown-menu li > a {
    display: block;
    border-radius: 4px;
    transition: .2s background-color ease-in;
  }
  
  .dropdown-menu li > a:hover {
    background-color: #e9e9e9;
  }
  
  .dropdown.open .dropdown-menu {
    opacity: 1;
    margin-top: 0;
  }
  
  a.neat {
    color: inherit;
    text-decoration: none;
  }